/*!
 * Copyright (c) 2020-present Théo Goudout. All rights reserved.
 *
 * This work is dual-licensed under Prorietary license and
 * GPL 3.0 (or any later version). You can choose between
 * one of them if you use this work.
 *
 * For details please refer to LICENSE file.
 */
$theme-colors: (
  "primary": #f27530,
);

$body-bg: #fcfcfc;
$jumbotron-bg: #fff;

$line-height-base: 1;
