/*!
 * Copyright (c) 2020-present Théo Goudout. All rights reserved.
 *
 * This work is dual-licensed under Prorietary license and
 * GPL 3.0 (or any later version). You can choose between
 * one of them if you use this work.
 *
 * For details please refer to LICENSE file.
 */
$input-checkbox-height:               30px;
$input-checkbox-box-color:            #ceced4;
$input-checkbox-box-color-checked:    theme-color("primary");
$input-checkbox-box-height:           20px;
$input-checkbox-box-width:            40px;
$input-checkbox-box-radius:           $input-checkbox-box-height / 2;
$input-checkbox-slider-color:         #fff;
$input-checkbox-slider-color-checked: #fff;
$input-checkbox-slider-radius:        16px;
$input-checkbox-slider-gap:           2px;

.checkbox-slider {
  @if $input-checkbox-slider-radius < $input-checkbox-box-height {
    margin: ($input-checkbox-height - $input-checkbox-box-height) / 2 0;
  } @else {
    margin: ($input-checkbox-height - $input-checkbox-box-height) / 2 $input-checkbox-slider-gap;
  }

  & > input[type='checkbox'] {
    display:none;

    & ~ .bar {
      display: block;
      cursor: pointer;

      background-color: $input-checkbox-box-color;
      border-radius: $input-checkbox-box-radius;
      height: $input-checkbox-box-height !important;
      transition: background-color linear 80ms;
      width: $input-checkbox-box-width !important;
      z-index: 0;

      & > .slider {
        display: block;
        position: relative;
        @if $input-checkbox-slider-radius < $input-checkbox-box-height {
          top: $input-checkbox-slider-gap;
          left: $input-checkbox-slider-gap;
        } @else if $input-checkbox-slider-radius == $input-checkbox-box-height {
          top: 0;
          left: 0;
        } @else {
          top: - $input-checkbox-slider-gap;
          left: - $input-checkbox-slider-gap;
        }
        cursor: pointer;

        background-color: $input-checkbox-slider-color;
        border-radius: 50%;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .4);
        height: $input-checkbox-slider-radius;
        transition: transform linear 80ms, background-color linear 80ms;
        width: $input-checkbox-slider-radius;
        z-index: 1;
      }
    }

    &:checked {
      & ~ .bar {
        background-color: $input-checkbox-box-color-checked;
        background-image: none;

        & > .slider {
          background-color: $input-checkbox-slider-color-checked;
          @if $input-checkbox-slider-radius < $input-checkbox-box-height {
            transform: translate3d($input-checkbox-box-width - $input-checkbox-slider-radius - 2 * $input-checkbox-slider-gap, 0, 0);
          } @else if $input-checkbox-slider-radius == $input-checkbox-box-height {
            transform: translate3d($input-checkbox-box-width - $input-checkbox-slider-radius, 0, 0);
          } @else {
            transform: translate3d($input-checkbox-box-width - $input-checkbox-slider-radius + 2 * $input-checkbox-slider-gap, 0, 0);
          }
        }
      }
    }

    &.disabled, &:disabled {
      & ~ .bar {
        opacity: 0.65;
        cursor: not-allowed;

        & > .slider {
          cursor: not-allowed;
        }
      }
    }
  }
}