/*!
 * Copyright (c) 2020-present Théo Goudout. All rights reserved.
 *
 * This work is dual-licensed under Prorietary license and
 * GPL 3.0 (or any later version). You can choose between
 * one of them if you use this work.
 *
 * For details please refer to LICENSE file.
 */
@import "custom";

// Mandatory bootstrap features
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// We are loading only bootstrap necessary features to reduce module size
// @import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";

// @import "background-variant";
@import "border";
@import "premium";
@import "select";
@import "slider";
@import "sticker";
@import "textarea";

.__ninja_cookie_safari .premium-message {
  display: none;
}

.container {
  max-width: map-get($grid-breakpoints, "md");
  min-width: map-get($grid-breakpoints, "sm");
}

/* Display alert at the top of window */
#alert-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.alert {
  width: fit-content;
  width: -moz-fit-content;
  margin-left: auto;
  margin-right: auto;
}

@include sticker-logo("#header .sticker", ".logo", 64px);
#header .sticker {
  position: inherit;
  display:inline-block;

  .tooltip {
    display: none;
    background-color: #000c;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    white-space: nowrap;

    position: absolute;
    left: 0;
    bottom: -30px;

    &:before {
      content: attr(data-content);
    }
  }

  &:hover .tooltip {
    display: block;
  }

  .tooltip[data-content=""],
  .tooltip:not([data-content]) {
    display: none !important;
  }
}

.desc {
  background: url('/icons/description.svg');
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: default;
  position: relative;
  top: 2px;
  left: 0;
}

.desc:not([data-content]), .desc[data-content=""] {
  display: none;
}

.nav-tabs {
  margin-left: -2em;
  margin-right: -2em;
  padding-left: 2em;
  padding-right: 2em;
}

label {
  margin-bottom: 2px;

  &.disabled {
    &, & input, & button {
      opacity: 0.65;
      cursor: not-allowed;
    }
  }
}

@include premium("#premium:after, #subscription a:after, .premium .header:after");

.settings-container {
  & label {
    margin: 0;
  }

  & .list {
    border: solid 2px theme-color("light");

    &:nth-child(odd) {
      background-color: theme-color("light");
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  & .checkbox-slider {
    margin: 0;
  }
}

.reload {
  @extend .close;
  transform: rotate(90deg);
}
