/*!
 * Copyright (c) 2020-present Théo Goudout. All rights reserved.
 *
 * This work is dual-licensed under Prorietary license and
 * GPL 3.0 (or any later version). You can choose between
 * one of them if you use this work.
 *
 * For details please refer to LICENSE file.
 */
@import "custom";

// Mandatory bootstrap features
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// We are loading only bootstrap necessary features to reduce module size
// @import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";

@import "premium";
@import "sticker";

body {
  background-color: theme-color("light");
  width: 350px;
}

#header {
  margin: -0.5em -15px -1em;
  padding: 0.5em 15px 0.5em;
}

#footer {
  margin: -1em -15px -0.5em;
  padding: 0.5em 15px 0.5em;
}

@include sticker-logo("#status .sticker", ".logo", 38px);
#status .sticker {
  position: inherit;

  .tooltip {
    display: none;
    background-color: #000c;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    white-space: nowrap;

    position: absolute;
    left: -5px;
    bottom: -30px;
    z-index: 1;

    &:before {
      content: attr(data-content);
    }
  }

  &:hover .tooltip {
    display: block;
  }

  .tooltip[data-content=""],
  .tooltip:not([data-content]) {
    display: none !important;
  }
}

.customize {
  &.christmas:after {
    content: ' ';
    display: inline-block;
    background-image: url('/icons/christmas.svg');

    position: absolute;
    top: -3px;
    left: 14px;
    padding: 14px 18px;
  }
}

.desc {
  background: url('/icons/description.svg');
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  left: 0;
}

.desc:not([data-content]), .desc[data-content=""] {
  display: none;
}

@include premium(".premium:after, #subscription a:after");

.facebook,
.twitter,
.review,
.website,
#settings a {
  width: 100%;

  &:before {
    display: inline-block;
    vertical-align: bottom;
    border: none;

    content: ' ';
    padding: 8px;
    background-size: 16px;
    margin-right: 5px;

    filter: grayscale(1);
    transition: filter 0.15s ease-in-out;
  }

  &:hover:before {
    filter: grayscale(0);
  }
}

.facebook {
  &:before {
    background-image: url('/icons/facebook.svg');
  }
  &.btn:hover {
    background-color: #1877f2;
    border-color: #1877f2;
  }
}

.twitter {
  &:before {
    background-image: url('/icons/twitter.svg');
  }
  &.btn:hover {
    background-color: #24a1f2;
    border-color: #24a1f2;
  }
}

.review {
  &:before {
    background-image: url('/icons/review.svg');
  }
  &.btn:hover {
    background-color: #fed843;
    border-color: #fed843;
  }
}

.website {
  &:before {
    background-image: url('/icons/website.svg');
  }
}

#settings a {
  &:before {
    background: url('/icons/settings.svg');
    padding: 15px;
    background-size: 30px;
    filter: brightness(1);
  }

  &:hover:before {
    filter: brightness(0.3);
  }
}

.__ninja_cookie_safari #subscription {
  display: none;
}
